/* Enter your custom styles here */
.body {
    background-color: lightblue;
}

.h1 {
    color: white;
    text-align: center;
}

.paragraph {
    font-family: verdana;
    font-size: 20px;
}
.paddingzero{
	padding: 0 !important;
}
tr[data-background="odd"] {
 background-color: #eaa6a6 !Important;
}
tr[data-background="even"] {
 background-color: #7dc0dc !Important;
}
.sapMListTblCell{
	    padding: .2rem .2rem;
}
.sapMListTblCell{
	vertical-align:middle;
}
.sapMInputBase{
	height : auto;
}